.land {
  display: flex;
  flex-direction: column;
  background: white;
  height: 100%;
  font-family: 'MuseoSansCyrl';

  &__menu_mobile {
    display: none;

    &-visible {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background: url('/img/svg/bg-mobile-menu.svg');
      background-size: cover;
      
    }
  }

  &__menu {
    &-header_mobile {
      height: 50px;
      display: flex;
      align-items: center;
      padding: 0 10px;

      .land__signin-button {
        border: 0;
        text-transform: none;
        margin-left: auto;
        font-size: 14px;
        width: 66px;
      }
    }

    &-nav_mobile {
      border-top: 1px solid white;
      padding-left: 20px;
      list-style: none;
    }

    &-item_mobile {
      padding: 15px 0;
      border-bottom: 1px solid #5c6979;
      font-size: 13px;
      font-weight: 500;
      color: #ffffff;
      &-active {
        color: #8acbff;
      }
    }
    
  }

  &__burger-menu {
    display: none;
  }

  &__features, &__first-step, &__get, &__footer {
    padding: 0 10.5%;
  }

  &__welcome {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 50px);
    background: url('/img/svg/land-welcome-bg.svg');
    background-size: cover;
    position: relative;
  }

  &__header {
    position: relative;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10.5%;

    &-aside {
      display: flex;
      align-items: center;
      margin-left: auto;
    }

    .land__nav-link {
      transition: .3s ease;
      border-bottom: solid 2px transparent;
      &:hover, &_active {
        color: white;
        border-bottom: solid 2px white;
      }
    }
  }

  &__logo-mobile {
    display: none;
  }

  &__nav {
    display: flex;
    list-style-type: none;

    &-item {
      margin-right: 33px;

      &:last-child {
        margin-right: 0;
      }
    }

    &-link {
      color: white !important;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 12px;
      letter-spacing: 1px;
      font-weight: bold;
      padding-bottom: 1px;

      &:hover, &:active {
        color: white;
        text-decoration: none;
      }
    }
  }

  &__signin-button {
    display: inline-block;
    width: 81px;
    height: 35px;
    border-radius: 4px;
    border: solid 2px #ffffff;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 60px;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: bold;
    outline: 0;
    background: transparent;
    text-transform: uppercase;
    white-space: nowrap;
    flex-shrink: 0;

    &:hover, &:active, &:focus {
      outline: 0;
    }
  }

  &__verify {
    padding: 0 10.5%;
    margin-top: 150px;
    padding-bottom: 150px;
    &-title {
      font-size: 32px;
      font-weight: bold;
      letter-spacing: 0.2px;
      text-align: center;
      color: #ffffff;
      margin-bottom: 40px;
    }

    &-form {
      margin: 0 auto;
      width: 740px;
      min-height: 221px;
      background-color: #ffffff;
      box-shadow: 0 32px 40px 0 rgba(36, 40, 51, 0.12), 0 0 24px 0 rgba(36, 40, 51, 0.08);
      padding: 20px 50px 34px;
      display: flex;
      flex-direction: column;
    }

    &-label {
      font-size: 16px;
      font-weight: 500;
      color: #909cab;
      margin-bottom: 0;
    }

    &-input {
      margin-top: 20px;
    }

    &-submit {
      min-width: 104px;
      margin-left: auto;
    }

    &-footer {
      margin-top: 20px;
      display: flex;
      align-items: center;
      font-size: 16px;
      font-weight: 500;
      color: #5c6979;
    }

    &-text {
      display: inline-block;
    }

    &-file {
      &-input {
        visibility: hidden;
        height: 0;
        width: 0;
        overflow: hidden;
      }

      &-upload {
        margin: 0 4px;
      }
    }

    &-error {
      border-top: 2px solid #efeff4;
      margin-top: 25px;
      padding-top: 20px;
      font-size: 32px;
      font-weight: 500;
      letter-spacing: 0.2px;
      text-align: left;
      color: #282d32;
    }
  }

  &__arrow-scroll {
    width: 110px;
    height: 140px;
    background: url('/img/svg/arrow-down-complex.svg');
    background-position: -18px 9px;
    position: absolute;
    bottom: -70px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  &__features {
    padding-top: 95px;
    padding-bottom: 30px;

    &-title {
      margin-bottom: 75px;
      font-size: 32px;
      font-weight: bold;
      letter-spacing: 0.2px;
      text-align: center;
      color: #282d32;
    }

    &-list {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      padding: 0;
      padding-left: 85px;
    }

    &-item {
      display: flex;
      align-items: center;
      width: calc((100% - (80px * 2)) / 3);
      margin-bottom: 90px;
      margin-right: 80px; 
      &:nth-child(3n) {
        margin-right: 0;
      }

      &-icon {
        width: 84px;
        height: 84px;
        margin-right: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &-text {
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 1px;
        color: #282d32;
        line-height: normal;
        max-width: 130px;
      }
    }
  }

  &__first-step {
    padding-top: 92px;
    padding-bottom: 92px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('/img/svg/first-step-bg.svg');
    background-size: cover;

    &-phone-img {
      width: 400px;
      height: 600px;
      background: url('/img/phone-img.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: right;
      margin-right: 50px;
      flex-shrink: 0;
    }

    &-title {
      font-size: 32px;
      font-weight: bold;
      letter-spacing: 0.2px;
      color: #282d32;
      margin-bottom: 20px;
    }

    &-description {
      font-size: 16px;
      font-weight: 500;
      line-height: 1.63;
      letter-spacing: 0.2px;
      color: #282d32;
      margin-bottom: 30px;
    }

    &-button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 200px;
      height: 50px;
      border-radius: 4px;
      border: solid 2px #52a1ff;
      font-size: 20px;
      font-weight: 500;
      letter-spacing: 0.1px;
      color: #52a1ff;
      text-decoration: none;

      &:hover, &:active, &:focus {
        color: #52a1ff;
        text-decoration: none;
        outline: 0;
      }
    }
  }

  &__get {
    padding-top: 50px;
    padding-bottom: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-steps {
      display: flex;
      flex-direction: column;
      align-items: center;

      &-wrapper {
        display: flex;
        margin-top: 10px;
      }

      &-carousel {
        &-wrapper {
          display: none;
        }
      }
    }

    &-stepper {
      background: url('/img/svg/stepper.svg');
      background-size: contain;
      background-repeat: no-repeat;
      width: 800px;
      height: 100px;
      font-family: 'MuseoSansCyrl'
    }

    &-step {
      text-align: center;
      margin-right: 75px;
      &:last-child {
        margin-right: 0;
      }

      &-title {
        margin-bottom: 10px;
        font-size: 20px;
        font-weight: bold;
        line-height: normal;
        letter-spacing: 0.1px;
        color: #282d32;
      }

      &-description {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.63;
        letter-spacing: 0.2px;
        color: #282d32;
      }
      &_2 {
        .land__get-step-description {
          max-width: 290px;
        }
      }

      &_1, &_3 {
        .land__get-step-description {
          width: 260px;  
        }
      }
    }

    &-apps {
      margin-top: 60px;
      &-title {
        font-size: 20px;
        font-weight: bold;
        line-height: normal;
        letter-spacing: 0.1px;
        text-align: center;
        color: #282d32;
        margin-bottom: 30px;
      }
    }
  }

  &__footer {
    height: 200px;
    background-color: #282d32;
    box-shadow: 0 -1px 0 0 #5c6979;
    padding-top: 50px;
    padding-bottom: 30px;
    position: relative;

    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 50px;
      position: relative;
      border-bottom: 1px solid #5c6979;

      &-aside {
        display: flex;
        align-items: center;
      }
    }

    .land__nav-link {
      transition: .3s ease;
      &:hover, &_active {
        color: #8acbff !important;
      }
    }
  }

  &__cookies {
    position: fixed;
      z-index: 10000;
      bottom: 0;
      left: 0;
      width: 100%;
      p {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 70vw;
        margin: 0 auto;
        padding: 15px;
        background-color: rgba(255, 255, 255, 0.75);
        box-shadow: 0 0 3px silver;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        .btn {
          margin-left: 35px;
          color: white !important;
    
          background-color: #52a1ff;
          border-color: #298bff;
    
          &:hover {
            background: #298bff;
          }
        }
      }
  }

  &__copyright {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 10px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0px;
    color: #e9eef5;
    margin-top: 20px;
  }

  &__support {
    display: none;
  }
}

/* badges */
.badges {
  display: flex;
}

.badge {
  display: flex;
  align-items: center;
  background: black;
  width: 130px;
  color: white;
  text-decoration: none;
  margin-right: 30px;
  border-radius: 5px;
  padding: 6px;
  box-shadow: 0 1px 3px 1px rgba(0,0,0,0.25);
  transition: opacity ease-out 0.2s;
  &:last-child {
    margin-right: 0;
  }
  &:hover, &:focus {
    color: white;
    text-decoration: none;
  }
}

.badge__icon {
  display: flex;
  width: 20px;
  height: 20px;
}

.icon-apple {
  width: 24px;
  height: 24px;  
}

.badge__description {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 7px;
  line-height: 1.2;
}

.badge__hint {
  font-size: 9px;
  font-weight: 300;
}

.badge__name {
  font-size: 15px;
}

@media (max-width: 1080px) {
  .land {
    &__get {
      &-steps {

        &-wrapper {
          display: none;
        }

        &-carousel {
          display: flex;
          width: 350px;
          overflow: hidden;

          &-wrapper {
            display: flex;
            justify-content: space-between;
            margin: 15px auto 0 auto;
            width: 500px;
          }
        }
      }

      &-step {
        &-carousel {
          min-width: 350px;
          position: relative;
          text-align: center;
          transition: transform .3s ease-out;
        }
      }
    }
  }

  .button-carousel {
    background: none;
    border: none;
    outline: 0;
    color: #C2C7CC;

    &:focus {
      outline: 0;
    }

    &:disabled {
      color: rgb(233, 233, 233) 
    }
  }
}

@media (max-width: 960px) {
  .land {
    &__header {
      height: 50px;
      background: linear-gradient(to right, #001340, #073B5A),
                  linear-gradient(to right, rgba(82, 161, 255, 0.1), rgba(9, 221, 224, 0.3));
    
      &_isMenuOpen {
        border-bottom: solid 1px rgba(255, 255, 255, 0.5);
      }

      .land__signin-button {
        border: 0;
        text-transform: none;
        margin-left: 0;
        font-size: 14px;
        width: 66px;
      }
    }

    &__burger-menu {
      display: block;
      width: 20px;
      height: 14px;
    }

    &__logo {
      display: none;
    }

    &__logo-mobile {
      display: block;
      position: absolute;
      left: calc(50% - 23px / 2);
    }

    &__header-aside {
      display: none;
      position: absolute;
      flex-direction: column;
      bottom: 0;
      left: 0;
    }
    
    &__verify {
      &-form {
        width: 89%;
      }
    }

    &__features {
      &-list {
        padding-left: 0;
      }

      &-item {
        flex-direction: column;
        justify-content: center;

        &-text {
          margin-top: 10px;
          text-align: center;
        }

        &-icon {
          margin-right: 0;
        }
      }
    }

    &__first-step {
      &-phone-img {
        width: 300px;
      }
    }

    &__get {
      padding-bottom: 0;
      &-stepper {
        width: 89%;
      }

      &-steps {
        width: 100%;
      }
    }

    &__footer {
      &-logo {
        width: 100px;
        height: 30px;
      }

      &-header {
        padding-bottom: 10px;
      }
    }

    &__nav {
      position: absolute;
      bottom: -39px;
      left: 0;

      &-item {
        margin-right: 0;
        padding: 0 10px;
        border-right: solid 1px #5c6979;

        &:first-child {
          padding-left: 0;
        }

        &:last-child {
          padding-right: 0;
          border: 0;
        }
      }
    }

    &__copyright {
      margin-top: 55px;
      padding-top: 10px;
      border-top: solid 1px #5c6979;
    }

    &__support {
      margin-left: auto;
      height: 95px;
      display: block;
    }
  }

  .signin-popup {
    &__header {
      height: 190px;
    }
    &__body {
      padding: 20px 130px 0;
    }

    &__title {
      font-size: 28px;
    }

    &__second-title {
      font-size: 18px;
    }

    &__form {
      width: 83%;
      height: auto;
    }

    &__footer {
      margin-top: 30px;
      padding: 0 130px;
    }
  }
}

@media (max-width: 768px) {
  .land {
    &__header {
      padding: 0 10px;
    }

    &__features, &__first-step, &__get, &__footer {
      padding-left: 20px;
      padding-right: 20px;
    }

    &__features {
      padding-top: 65px;

      &-title {
        margin-bottom: 40px;
      }

      &-list {
        max-width: 250px;
        margin: 0 auto;
      }

      &-item {
        width: 100px;
        margin-right: 50px;
        margin-bottom: 40px;
        
        &:nth-child(3n) {
          margin-right: 50px;
        }

        &:nth-child(2n) {
          margin-right: 0;
        }

        &-text {
          margin-top: 10px;
          text-align: center;
          font-size: 14px;
        }
      }
    }

    &__verify {
      padding: 135px 0 155px 0;
      margin-top: 0;

      &-footer {
        flex-direction: column;
      }

      &-text {
        margin-bottom: 20px;
      }

      &-submit {
        width: 100%;
      }
    }
  
    &__first-step {
      padding-bottom: 0;

      &-phone-img {
        width: 232px;
      }

      &-description {
        font-size: 14px;
      }

      &-title {
        font-size: 24px;
      }

      &-button {
        width: 160px;
        height: 40px;
        font-size: 16px;
      }
    }

    &__get {
      padding-top: 45px;

      &-apps {
        &-title {
          margin-bottom: 15px;
        }

        &-wrapper {
          flex-direction: column;
          align-items: center;

          .badge {
            margin-right: 0;

            &:first-child {
              margin-bottom: 25px;
            }
          }
        }
      }

      &-steps {
        &-carousel {
          width: 200px;
  
          &-wrapper {
            width: 310px;
          }
        }
      }
  
      &-step {
        &-carousel {
          min-width: 200px;
        }
  
        &-description {
          font-size: 10px;
          font-weight: 500;
          line-height: 1.3;
          letter-spacing: 0.1px;
        }
  
        &-title {
          font-size: 16px;
          font-weight: bold;
          letter-spacing: 0.1px;
        }
      }
    }

    &__footer {
      height: 180px;
      padding-top: 25px;
    }
  }

  .signin-popup {
    &__body {
      padding: 20px 80px 0;
    }

    &__form {
      padding-bottom: 20px;
      overflow: scroll;
    }
  
    &__footer {
      padding: 0 80px;
    }
  }
}

@media (max-width: 640px) {
  .land {
    &__first-step {
      padding-bottom: 50px;

      &-phone-img {
        width: 235px;
        height: 355px;
        margin-right: 30px;
      }
    }

    &__verify {
      &-form {
        padding: 20px;
      }

      &-input {
        margin-top: 10px;
      }

      &-error {
        font-size: 21px;
      }
    }
  }

  .signin-popup {
    &__body {
      padding: 20px 50px 0;
    }

    &__footer {
      padding: 0 50px;

      &-button {
        height: 45px;
        width: 95px;
      }
    }
  }
}

@media (max-width: 540px) {
  .land {
    &__verify {
      &-title {
        font-size: 24px;
        margin-bottom: 10px;
      }
    }
    &__first-step {
      &-phone-img {
        width: 157px;
        height: 300px;
        margin-right: 19px;
      }

      &-description {
        font-size: 10px;
        line-height: 1.3;
        letter-spacing: 0.1px;
      }

      &-title {
        font-size: 16px;
      }

      &-button {
        width: 114px;
        height: 25px;
        font-size: 12px;
      }
    }

    &__get {
      &-stepper {
        background: url('/img/svg/stepper-mobile.svg');
        background-size: contain;
        background-repeat: no-repeat;
      }
    }

    &__nav {
      bottom: -33px;
      &-link {
        font-size: 10px;
      }
    }

    &__copyright {
      margin-top: 43px;
    }

    &__footer {
      padding-top: 10px;
      height: 130px;

      .land__signin-button {
        font-size: 10px;
        width: 65px;
        height: 30px;
      }
    }
  }

  .signin-popup {
    &__header {
      height: 150px;
    }

    &__body {
      padding: 20px 20px 0;

      &-input {
        margin-bottom: 15px;
      }

      &-label {
        margin-bottom: 10px;
        font-size: 14px;
      }
    }

    &__footer {
      padding: 0 20px;
      margin-top: 17px;

      &-button {
        height: 40px;
        width: 85px;
        font-size: 14px;
      }

      &-hint {
        font-size: 14px;
      }

      &-link {
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 480px) {
  .land {
    &__verify {
      &-text {
        font-size: 12px;
      }

      &-file-upload {
        font-size: 12px;
      }
    }

    &__get {
      &-stepper {
        width: 334px;
        height: 50px;
      }
    }

    &__features {
      &-item {
        &-text {
          font-size: 12px;
        }

        &-icon {
          width: 60px;
          height: 60px;
        }
      }
    }
    &__copyright {
      font-size: 8px;
    }

    &__arrow-scroll {
      width: 37px;
      height: 93px;
      background: url('/img/svg/arrow-down-mobile.svg');
      background-position: -18px 9px;
      position: absolute;
      bottom: -18px;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
  }

  .signin-popup {
    &__body {
      &-label {
        font-size: 14px;
      }
    }

    &__form {
      max-height: 87%;
      width: 92%;
    }

    &__title {
      font-size: 24px;
    }

    &__second-title {
      font-size: 14px;
    }

    &__footer {
      padding: 0 20px;

      &-button {
        font-size: 14px;
      }

      &-hint {
        font-size: 12px;
      }

      &-link {
        font-size: 12px;
      }
    }
  }
}