@media (max-width: 575px) {
  .SearchResultImg {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
  }
  .logo {
    color: white;
    position: absolute;
    bottom:-50px;
    width:100%;
text-align:center;
  }
  .logoPic {
    width:30%
  }
}

@media (min-width: 576px) {
  .logoPic {
    width:10%
  }
  .logo {
    color: white;
    position: absolute;
    bottom:-50px;
    width:100%;
text-align:center
  }
  .ResultBlock {
    color: black;

    width: 1180px;
    margin: 0 auto;

    h1 {
      color: #041865;
    }
  }
  .SearchResultImg {
    // display: block;
    width: 200px;
    margin: 0 auto;
    margin-top: -90px;
  }
  .ResultPage {
    background-color: #fcfdfe;
  }
}
