@media (max-width: 575px) {
  .SearchResultImg {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
  }
}

@media (min-width: 576px) {
  .ResultBlock {
    color: black;

    width: 1180px;
    margin: 0 auto;

    h1 {
      color: #041865;
    }
  }

  .ResultPage {
    background-color: #fcfdfe;
  }

  
}
