@media (min-width: 576px) {
  .HomePage {
    .PageHeader {
      position: relative;

      height: 916px;

      background-image: url(../../assets/icons/Verify/verify-header-bg.svg) !important;
      background-position-y: top !important;

      padding-top: 91px;

      &Arrow {
        position: absolute;
        bottom: 0px;
        left: 50%;
        margin-left: -100px;

        width: 200px;
        height: 200px;

        background-image: url(../../assets/icons/Verify/Verify-scroll-down.svg);
        background-position: center center;
        background-size: contain;
      }

      h1 {
        margin-top: 200px;
        margin-bottom: 0;

        font-size: 56px;
        line-height: 1;
        color: white;
      }

      h4 {
        margin-top: 0;

        font-size: 29px;
        color: #8bebff;
      }

      .Or-choose-Document {
        width: 900px;
        margin: 0 auto;
        font-size: 22px;
        text-align: left;
        color: white;

        a {
          color: #8bebff;
        }
      }
    }

    .HomeBlock {
      margin-bottom: 100px !important;
    }

    .Features {
      width: 1000px;
      margin: 0 auto;

      h2 {
        margin-bottom: 100px;
        font-weight: bold;
      }

      .Grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 150px;
        grid-row-gap: 30px;

        font-size: 24px;
        line-height: 1.29;
        color: #434a5b;

        .FeaturesImgWrapper {
          display: flex;
          align-items: center;
          justify-content: center;

          height: 150px;
        }

        h5 {
          font-size: 24px;
          font-weight: normal;
          line-height: 1.06;
          color: #434a5b;
        }
      }
    }

    .TempBlock {
      width: 1000px;
      margin: 0 auto;

      .Flex {
        display: flex;

        div:first-child {
          width: 400px;
          margin-right: 100px;
        }

        div:last-child {
          width: 500px;
        }
      }

      img {
        width: 100%;
      }

      p {
        font-size: 22px;
        color: #858a97;
      }
    }
  }
}

@media (max-width: 575px) {
  .HomePage {
    .PageHeader {
      position: relative;
      padding-top: 91px;
      height: 630px;

      background-image: url(../../assets/icons/Verify/verify-header-bg.svg) !important;
      background-position-y: top !important;

      &Arrow {
        position: absolute;
        bottom: -10px;
        left: 50%;
        margin-left: -80px;

        width: 160px;
        height: 160px;

        background-image: url(../../assets/icons/Verify/Verify-scroll-down.svg);
        background-position: center center;
        background-size: contain;
      }

      h1 {
        font-size: 41px;
        font-weight: bold;
      }

      h4 {
        color: #8bebff;
        font-size: 18px;
      }

      .Or-choose-Document {
        font-size: 14px;
        color: #ffffff;

        a {
          color: #8bebff;
        }
      }
    }

    .Features {
      padding: 20px;

      .Grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;

        div {
          .FeaturesImgWrapper {
            display: flex;
            align-items: center;
            justify-content: center;

            height: 160px;
          }
        }

        img {
          max-width: 100%;
          max-height: 140px;
        }

        h5 {
          font-size: 12px;
          font-weight: normal;
          line-height: 1.06;
          color: #434a5b;
        }
      }
    }

    .HomeBlock {
      padding: 20px;
    }

    .TempBlock {
      color: #858a97;

      img {
        max-width: 100%;
      }
    }
  }
}

.Or-choose-Document {
  .link {
    color: #8bebff;
    text-decoration: underline;
    cursor: pointer;
  }
}

#input-file {
  opacity: 0;
}







.flip-block  {
  width: 460px;
  margin: 0 auto;
  padding: 1em;
  box-shadow: 0 0 25px rgba(0,0,0,0.1);
  border-radius: 10px;

  h2 {
    font-size: 1.6em;
    font-weight: bold;
  }
}

@media (max-width: 575px) {
  .flip-block  {
    width: 90%;
  }
}

.flip-clock {
  text-align: center;
  perspective: 400px;
  margin: 20px auto;

  font-family: Arial, Helvetica, sans-serif;
}

.flip-clock *,
.flip-clock *:before,
.flip-clock *:after {
  box-sizing: border-box;
}

.flip-clock__piece {
  display: inline-block;
  margin: 0 5px;
}

.flip-clock__slot {
  font-size: 2vw;
  display: none;
}

.card {
  display: block;
  position: relative;
  padding-bottom: 0.72em;
  font-size: 2em;
  line-height: 0.95;
}

.card__top,
.card__bottom,
.card__back::before,
.card__back::after {
  display: block;
  height: 0.72em;
  color: #ccc;
  background: #222;
  padding: 0.25em 0.25em;
  border-radius: 0.15em 0.15em 0 0;
  backface-visiblity: hidden;
  transform-style: preserve-3d;
  width: 1.8em;
  transform: translateZ(0);
}

.card__bottom {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 0;
  border-top: solid 1px #000;
  background: #393939;
  border-radius: 0 0 0.15em 0.15em;
  pointer-events: none;
  overflow: hidden;
}

.card__bottom::after {
  display: block;
  margin-top: -0.72em;
}

.card__back::before,
.card__bottom::after {
  content: attr(data-value);
}

.card__back {
  position: absolute;
  top: 0;
  height: 100%;
  left: 0%;
  pointer-events: none;
  overflow: hidden;
}

.card__back::before {
  position: relative;
  z-index: -1;
  overflow: hidden;
}

.flip .card__back::before {
  animation: flipTop 0.3s cubic-bezier(0.37, 0.01, 0.94, 0.35);
  animation-fill-mode: both;
  transform-origin: center bottom;
}

.flip .card__back .card__bottom {
  transform-origin: center top;
  animation-fill-mode: both;
  animation: flipBottom 0.6s cubic-bezier(0.15, 0.45, 0.28, 1);
}

@keyframes flipTop {
  0% {
    transform: rotateX(0deg);
    z-index: 2;
  }

  0%,
  99% {
    opacity: 0.99;
  }

  100% {
    transform: rotateX(-90deg);
    opacity: 0;
  }
}

@keyframes flipBottom {
  0%,
  50% {
    z-index: -1;
    transform: rotateX(90deg);
    opacity: 0;
  }

  51% {
    opacity: 0.89;
  }

  100% {
    opacity: 1;
    transform: rotateX(0deg);
    z-index: 5;
  }
}
