.PageHeader {
  height: 916px;
  background-image: linear-gradient(225deg, #000ecc, #4ea7ff);

  margin-top: -91px;
  padding-top: 91px;

  h1 {
    font-size: 56px;
    color: white;
    margin-top: 200px;
    margin-bottom: 0;
  }

  h4 {
    font-size: 29px;
    color: #8bebff;
    margin-top: 0;
  }

  p {
    opacity: 0.7;

    font-size: 18px;
    color: #ffffff;
  }
  .Email-opt-in {
    position: relative;
    width: 960px;

    margin-top: 100px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;

    input {
      font-size: 15px;
      font-weight: 500;
      letter-spacing: 0.38px;
      text-transform: uppercase;

      width: 100%;
      padding: 21px 30px;
      border-radius: 32px;
      background-color: white;
      border: none;

      outline: none !important;
    }
    button {
      position: absolute;
      text-transform: none;
      font-weight: bold;
      font-size: 20px;
      top: 5px;
      right: 6px;
      padding: 13.5px 30px;
      width: 120px;

      &:disabled {
        background-color: #858a97;
        color: silver;
      }
    }
  }

  .Or-choose-Document {
    width: 900px;
    margin: 0 auto;
    font-size: 22px;
    text-align: left;
    color: white;

    a {
      color: #8bebff;
    }
  }
}

.HomeBlock {
  margin-bottom: 100px !important;
}

.Features {
  width: 1000px;
  margin: 0 auto;

  .Grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 30px;

    font-size: 24px;
    line-height: 1.29;
    color: #434a5b;
  }
}

.TempBlock {
  width: 1000px;
  margin: 0 auto;

  .Flex {
    display: flex;

    div:first-child {
      width: 400px;
      margin-right: 100px;
    }

    div:last-child {
      width: 500px;
    }
  }

  img {
    width: 100%;
  }

  p {
    font-size: 22px;
    color: #858a97;
  }
}

.ResultDownload {
  margin-top: 60px;

  .mgrpdf__wrapper {
    margin-top: 60px;
    border-radius: 10px;
    border: solid 1px #e8ecf1;
  }
}

.ResultGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 30px;

  border-radius: 10px;
  border: solid 1px #e8ecf1;

  padding: 50px;

  .params__field {
    overflow: hidden;

    .params__key {
      color: #a1a7b7;
    }

    .params__value {
      color: #3d4461;

      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
