@media (min-width: 576px) {
  .HomePage {
    .PageHeader {
      position: relative;

      height: 916px;

      background-image: url(../../assets/icons/Verify/verify-header-bg.svg) !important;
      background-position-y: top !important;

      padding-top: 91px;

      &Arrow {
        position: absolute;
        bottom: 0px;
        left: 50%;
        margin-left: -100px;

        width: 200px;
        height: 200px;

        background-image: url(../../assets/icons/Verify/Verify-scroll-down.svg);
        background-position: center center;
        background-size: contain;
      }

      h1 {
        margin-top: 200px;
        margin-bottom: 0;

        font-size: 56px;
        line-height: 1;
        color: white;
      }

      h4 {
        margin-top: 0;

        font-size: 29px;
        color: #8bebff;
      }

      .Or-choose-Document {
        width: 900px;
        margin: 0 auto;
        font-size: 22px;
        text-align: left;
        color: white;

        a {
          color: #8bebff;
        }
      }
    }

    .HomeBlock {
      margin-bottom: 100px !important;
    }

    .Features {
      width: 1000px;
      margin: 0 auto;

      h2 {
        margin-bottom: 100px;
        font-weight: bold;
      }

      .Grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 150px;
        grid-row-gap: 30px;

        font-size: 24px;
        line-height: 1.29;
        color: #434a5b;

        .FeaturesImgWrapper {
          display: flex;
          align-items: center;
          justify-content: center;

          height: 200px;
        }

        h5 {
          font-size: 40px;
          font-weight: normal;
          line-height: 1.06;
          color: #434a5b;
        }
      }
    }

    .TempBlock {
      width: 1000px;
      margin: 0 auto;

      .Flex {
        display: flex;

        div:first-child {
          width: 400px;
          margin-right: 100px;
        }

        div:last-child {
          width: 500px;
        }
      }

      img {
        width: 100%;
      }

      p {
        font-size: 22px;
        color: #858a97;
      }
    }
  }
}

@media (max-width: 575px) {
  .HomePage {
    .PageHeader {
      position: relative;
      padding-top: 91px;
      height: 630px;

      background-image: url(../../assets/icons/Verify/verify-header-bg.svg) !important;
      background-position-y: top !important;

      &Arrow {
        position: absolute;
        bottom: -10px;
        left: 50%;
        margin-left: -80px;

        width: 160px;
        height: 160px;

        background-image: url(../../assets/icons/Verify/Verify-scroll-down.svg);
        background-position: center center;
        background-size: contain;
      }

      h1 {
        font-size: 41px;
        font-weight: bold;
      }

      h4 {
        color: #8bebff;
        font-size: 18px;
      }

      .Or-choose-Document {
        font-size: 14px;
        color: #ffffff;

        a {
          color: #8bebff;
        }
      }
    }

    .Features {
      padding: 20px;

      .Grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;

        div {
          .FeaturesImgWrapper {
            display: flex;
            align-items: center;
            justify-content: center;

            height: 160px;
          }
        }

        img {
          max-width: 100%;
          max-height: 140px;
        }

        h5 {
          font-size: 20px;
          font-weight: normal;
          line-height: 1.06;
          color: #434a5b;
        }
      }
    }

    .HomeBlock {
      padding: 20px;
    }

    .TempBlock {
      color: #858a97;

      img {
        max-width: 100%;
      }
    }
  }
}

.Or-choose-Document {
  .link {
    color: #8bebff;
    text-decoration: underline;
    cursor: pointer;
  }
}

#input-file {
  opacity: 0;
}
