@media (min-width: 576px) {
  .ProductPage {
    .PageHeader {
      height: 650px;
      padding-top: 91px;

      h1 {
        font-size: 56px;
        color: white;
        margin-bottom: 0;
      }

      h4 {
        margin-top: 0;
        font-size: 29px;
        color: #8bebff;
      }
    }

    .HomeBlock {
      width: 860px;
      margin: 0 auto;

      p {
        font-size: 22px;
        color: #858a97;
      }

      h4 {
        font-size: 35px;
        color: #041865;
      }
    }
  }
}

@media (max-width: 575px) {
  .ProductPage {
    .PageHeader {
      padding-bottom: 50px;
      h1 {
        font-size: 32px;
        padding: 0 20px;
      }

      h4 {
        font-size: 20px;
        color: #8bebff;
      }
    }

    .HomeBlock {
      padding: 0 20px;
      color: #858a97;
    }
  }
}
