.ProductPage {
  .PageHeader {
    height: 650px;

    h1 {
      font-size: 56px;
      color: white;
    }

    h4 {
      font-size: 29px;
      color: #8bebff;
    }
  }

  .HomeBlock {
    width: 860px;
    margin: 0 auto;

    p {
      font-size: 22px;
      color: #858a97;
    }

    h4 {
      font-size: 35px;
      color: #041865;
    }
  }
}
