.AppHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 1200px;
  margin: 0 auto;

  padding: 20px 0;

  nav {
    display: flex;
    align-items: center;

    a {
      margin-left: 20px;
      font-size: 17px;
      letter-spacing: 0.34px;
      text-decoration: none;

      color: #ffffff;
      cursor: pointer;

      &.active {
        opacity: 0.5;
      }
    }
  }
}
