.verify {
  flex: 1;
  height: 100%;
  padding: 60px 100px 30px;
  margin: 0 10.5%;
  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: 0 32px 40px 0 rgba(36, 40, 51, 0.06), 0 0 24px 0 rgba(36, 40, 51, 0.04);
  overflow: hidden;

  &__header {
    padding-bottom: 34px;
    border-bottom: 2px solid #efeff4;
    position: relative;

    &-icon {
      position: absolute;
      left: -60px;
    }

    &-title {
      font-size: 32px;
      font-weight: 500;
      letter-spacing: 0.2px;
      color: #282d32;
      margin-bottom: 0;
    }
  }

  &__content {
    position: relative;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
  }

  &__info {
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
  }

  .button_alt {
    position: absolute;
    top: 0;
    right: 0;
  }

  .red {
    color: red;
  }

  &__doc-view {
    display: none;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 2px solid #efeff4;
  }

  &__pdf {
    box-shadow: 0 2px 12px 0 rgba(92, 105, 121, 0.2);
    background-color: #ffffff;
    border: solid 1.5px #fbfcff;

    &-wrapper {
      padding: 40px 0;
      border-top: 2px solid #efeff4;
      border-bottom: 2px solid #efeff4;
      margin-bottom: 40px;
    }
  }
}

@media(max-width: 1240px) {
  .verify {
    &__content {
      flex-direction: column;
    }
  }
}

@media (max-width: 960px) {
  .verify {
    margin: 0;

    &__header {
      display: flex;
      align-items: center;

      &-title {
        padding-left: 35px;
      }

      &-icon {
        width: 30px;
        height: 30px;
        left: 0;
      }
    }
  }
}

@media (max-width: 864px) {
  .verify {
    &__content {
      flex-direction: column;
      margin-top: 9px;
    }
  }
}

@media (max-width: 768px) {
  .verify {
    padding: 20px;
  }
}

@media (max-width: 720px) {
  .verify {
    &__content {
      margin-top: 9px;
    }

    &__header {
      &-icon {
        width: 20px;
        height: 20px;
      }

      &-title {
        font-size: 20px;
      }

      padding-bottom: 10px;
    }
  }

}