@media (max-width: 575px) {
  .ResultGrid {
    // padding: 20px;
    text-align: left;

    border: 1px solid #DFDFDF;
    border-radius: 5px;

    margin: 0 30px;

    .params__field {
      // margin-bottom: 20px;
      overflow: hidden;
      border-bottom: 1px solid #DFDFDF;

      display: grid;
      grid-template-columns: 1fr 1fr;

      .params__key {
        opacity: 0.5;
        padding: 10px;
      }
      .params__value {
        opacity: 0.75;
        padding: 10px;

        &.params__value_alt {
          width: 99%;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
  .ResultDownload {
    overflow: visible !important;
    
  }
  .mgrpdf__wrapper {
    margin: 20px;
    border-radius: 3px !important;

    canvas {
      widows: 100%;
      height: auto;
    }
  }
  .mgrpdf-navigation {
    border-bottom-left-radius: 3px !important;
    border-bottom-right-radius: 3px !important;
  }
}

@media (min-width: 576px) {
  .ResultGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 30px;

    border-radius: 10px;
    border: solid 1px #e8ecf1;
    background-color: white;

    padding: 50px;
    margin: 0 80px;

    text-align: left;

    .params__field {
      overflow: hidden;

      .params__key {
        color: #a1a7b7;
      }

      .params__value {
        color: #3d4461;

        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }

  .SearchResult {
    margin-top: 160px;
    padding-bottom: 80px;

    border-radius: 5px;
    box-shadow: 0 0 5px rgba(38, 55, 72, 0.1);
    background-color: white;

    text-align: center;

    background-image: url('../../assets/svg/bg-verified.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: -250px;

    &Img {
      display: inline-block;
      margin-top: -80px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.ResultDownload {
  margin-top: 30px;
  overflow: hidden;
  margin-bottom: 60px;

  

  .button {
    display: inline-block;
    padding: 15px 25px;
    border-radius: 5px;
    
  }

  .mgrpdf__wrapper {
    margin-top: 60px;
    border-radius: 10px;
    border: solid 1px #e8ecf1;
  }

  .mgrpdf-navigation {
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    color: #3d4461 !important;
    background-color: #e8ecf1 !important;
  }
}
