* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;

  font-family: "CircularStd", -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.red {
  color: darkred !important;
}

.green {
  color: darkgreen !important;
}


@import './scss/app';

@import './scss/typo';
@import './scss/button';