* {
  appearance: none;
  box-sizing: border-box;
  
  -webkit-tap-highlight-color: transparent;
}

html {
  margin: 0;
  padding: 0;

  min-height: 100%;
  
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;

  min-height: 100%;

  font-family: "CircularStd", -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


input, textarea, button {
  margin: 0;
  outline: none !important;
}

@import './scss/app';
@import './scss/helpers';

@import './scss/typo';
@import './scss/button';
