@media (min-width: 576px) {
  .AppHeader {
    position: absolute;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    margin: 0 auto;
    padding: 40px 0;

    user-select: none;

    z-index: 5;

    &Logo {
      margin-left: 89px;

      .rtl & {
         margin-left: 0;
         margin-right: 89px;
      }
    }

    nav.hiddenMobile {
      display: flex;
      align-items: center;
      padding-right: 60px !important;

      .rtl & {
        padding-right: auto !important;
        padding-left: 60px !important;
      }

      a {
        margin-left: 28px;
        font-size: 17px;
        letter-spacing: 0.34px;
        text-decoration: none;

        .rtl & {
          margin-left: 0;
          margin-right: 28px;
        }

        color: #ffffff;
        cursor: pointer;

        &.active {
          opacity: 0.5;
        }
      }
    }
  }
}

@media (max-width: 575px) {
  .AppHeader {
    position: absolute;

    display: flex;
    align-items: center;

    width: 100%;
    overflow: hidden;
    padding: 20px;
    padding-top: 56px;

    user-select: none;

    z-index: 5;

    &Logo {
      flex: 1;
      padding-left: 23px;
      text-align: center;

      .rtl & {
        padding-left: 0;
        padding-right: 23px;
      }

      img {
        max-width: 150px;
      }
    }

    .mobileMenuBtn {
      position: relative;
      top: -3px;

      display: flex;
      align-items: center;
      color: white;
      font-size: 32px;

      cursor: pointer;
    }
  }
}

